@import "tailwindcss";

@keyframes float-bg {
  0%, 100% { --bg-pos: 25%; }
  50% { --bg-pos: 75%; }
}

/* properfty for animation class */
@property --bg-pos {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 25%;
}

/* animation class*/
.animate-float-bg {
  animation: float-bg 10s ease-in-out infinite;
}

:root {
  --bg-main: #f8fafc;
  --bg-header: #6a6a82;
  --bg-sidebar: #e2e8f0;
  --bg-card: #d2d2d2;

  --text-main: #0f172a;
  --text-muted: #475569;
  --text-inverse: #c0c0c0;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --accent: #f59e0b;
  --danger: #ef4444;

  --border-color: #cbd5e1;

  --thick-board-border: #000000;
  --game-board-cell-hover: #90a6c7;
  --game-board-cell-hover-secondary: #bbc8e7;
  --game-board-cell-error: #e3686b;
  --game-board-cell-same-number: #a5a588;

  --number-filled: #a09dc4;
}

@media (prefers-color-scheme: dark) { 
  /* dark theme */
  :root {
    --bg-main: #020617;
    --bg-header: #100217;
    --bg-sidebar: #2c123a;
    --bg-card: #301e3b;

    --text-main: #f8fafc;
    --text-muted: #94a3b8;
    --text-inverse: #ffffff;

    --primary: #953bf6;
    --primary-hover: #ac25eb;
    --accent: #dd8e2e;
    --danger: #f87171;

    --border-color: #443355;

    --thick-board-border: #ffffff;
    --game-board-cell-hover: #45556c;
    --game-board-cell-hover-secondary: #0f172b;
    --game-board-cell-error: #82181a;
    --game-board-cell-same-number: #454534;

    --number-filled: #6e598b;
  }
}
